---
- hosts: all
  become: yes
  tasks:

    - name: Ensure python3 is installed
      raw: |
        if ! command -v python3 >/dev/null 2>&1; then
          sudo apt update -y
          sudo apt install python3 python3-apt -y
        fi

    - name: Install Nginx
      apt:
        name: nginx
        state: present
        update_cache: yes

    - name: Start and enable Nginx
      systemd:
        name: nginx
        state: started
        enabled: yes
